@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #545050;
}

.student-manager {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}
.student-manager .Director-Panel {
  width: 30%;
  height: auto;
  border-right: 1px solid grey;
}
.student-manager .Director-Panel .logo {
  width: 200px;
  height: 200px;
  background-image: url("./assets/profile.png");
  background-origin: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 50%;
}
.student-manager .Director-Panel .director-panel, .student-manager .Director-Panel .form label {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
.student-manager .Director-Panel .form {
  width: 87%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
}
.student-manager .Director-Panel .form label {
  font-size: 15px;
  margin-top: 10px;
  font-weight: normal;
}
.student-manager .Director-Panel .form label:nth-child(13) {
  text-transform: none;
}
.student-manager .Director-Panel .form input {
  width: 50%;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding-left: 10px;
  text-align: center;
}
.student-manager .Director-Panel .form input:focus {
  outline: none;
}
.student-manager .Director-Panel .form .btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.student-manager .Director-Panel .form .btn .add {
  width: 33%;
  height: 44px;
  border-radius: 5px;
  background: blue;
  color: white;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.student-manager .Director-Panel .form .btn .add:active {
  transform: scale(0.98);
}
.student-manager .info-student {
  width: 70%;
  height: auto;
}
.student-manager .info-student .table {
  width: 95%;
  margin-top: 20px;
  height: 30px;
  background: #403c3c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.student-manager .info-student .table .thead tr td {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px;
  text-transform: capitalize;
  color: white;
}
.student-manager .info-student .table .thead tr td:nth-child(8) {
  text-transform: none;
  border-right: none;
}
.student-manager .info-student .table .tbody tr {
  width: auto;
  height: 50px;
}
.student-manager .info-student .table .tbody tr td {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.student-manager .info-student .table .tbody tr td:nth-child(1) div {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  background-origin: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.student-manager .info-student .table .tbody tr td:nth-child(2) {
  text-transform: uppercase;
}
.student-manager .info-student .table .tbody tr td:nth-child(7) {
  text-transform: uppercase;
}
.student-manager .info-student .table .tbody tr td:nth-child(8) {
  border-right: none;
}

@media screen and (min-width: 320px) and (max-width: 1032px) {
  .student-manager {
    flex-wrap: wrap;
  }
  .student-manager .Director-Panel {
    width: 100%;
  }
  .student-manager .info-student {
    width: 100%;
  }
  .student-manager .info-student .table .thead tr td {
    font-size: 10px;
  }
  .student-manager .info-student .table .tbody tr {
    width: auto;
    height: 50px;
  }
  .student-manager .info-student .table .tbody tr td {
    font-size: 6px;
    color: white;
  }
}/*# sourceMappingURL=index.css.map */